body
{
	background-image: url("math-background.jpg");
	text-align: center;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
.login_div1{
	background-color: #69f0ae;
}
.login_div2{
	background-color: #30db47;
}
h1{
	font-family: 'Macondo Swash Caps', cursive;
}
label{
	font-family: 'Rubik', sans-serif;
}
input{
	font-family: 'Comfortaa', cursive;
}
button{
	font-family: 'Rubik', sans-serif;
}
h2{
	font-family: 'Macondo Swash Caps', cursive;
	color: #69f0ae;
	background-color: gray;
	width: 150px;
}
h3{
	font-family: 'Comfortaa', cursive;
}
h4{
	font-family: 'Rubik', sans-serif;
	color:cadetblue;
	background-color: darkblue;
	width: 120px;
}
#player_answer{
	font-family: 'Rubik', sans-serif;
	color:cadetblue;
	background-color: darkblue;
	width: 120px;
}
#player_question{
	font-family: 'Rubik', sans-serif;
	color:cadetblue;
	background-color: darkblue;
	width: 120px;
}